@charset "utf-8";

Page {
    background-color: #000000;
    font-family:Tahoma, Impact, sans-serif;
    margin-bottom: 50px;
    margin-top: 30px;
    margin-left: 450px
}

Top {
    font-size: 3em;
    color: #FFFFFF;
    text-align: center;
    margin-left: 160px;
    margin-top: 30px;
}

Song {
    display: block;
    margin-top: 50px;
    height: 120px;
    width: 500px;
    border: thick double #FFFFFF;
    border-radius: 25px;
    padding-left: 40px;
    text-align: left;
}

Title {
    display:block;
    margin-top: 12px;
    font-size: 1.5em;
    color: yellow;
}

Artist {
    display:block;
    font-size: 1.2em;
    color: lightblue;
}

Genre {
    font-size: 1em;
    color: #FFFFFF;
    color: lightgreen;
}

Year {
    color: pink;
    display: block;
    font-size: 1em;
    margin-bottom: 10px;
}
